html{
	width:100%;
	height:100%;
}
body{
	font-family:tahoma;
	font-size:15px;
	line-height:1.75;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	background-color:#39DF8C;	
}

#timeline{
	display:flex;
	background-color:#031625;
	
}