html{
	width:100%;
	height:100%;
}
body{
	font-family:tahoma;
	font-size:15px;
	line-height:1.75;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	background-color:#39DF8C;	
}

#timeline{
	display:flex;
	background-color:#031625;
	
}
#timeline:hover .t1-item{
	width:23.3333%;

}
.t1-item{
	transform:translate3d(0,0,0);
	position:relative;
	width:25%;
	height:50vh;
	min-height:600px;
	color:white;
	overflow:hidden;
	transition: width 0.5s ease;

}
.t1-item:before, .t1-item:after{
	transform: translate3d(0,0,0);
	content: '';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;


}