@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display" ');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	margin: 0;
	width:100%;
	background-image:url(formula2.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-attachment:fixed;
}

header
{
	font-family: 'Playfair Display', serif;
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: auto;
	width:100%;
	top:0;
	right:0px;
	left:0px;
	position:fixed;
}
header h1{
	display:inline;
	
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 20px;
}
nav ul{
	display: block;
	padding: 0px;
	float: right;
	margin-top:60px;
	margin-right: -270px;
	font-size:15pt;
}
nav ul li{
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 170px;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}

#nav {
	font-size: 15;
}

.klasa1:hover{
	color: #95A60A;
	text-decoration: underline;
}
.search-form{
	margin-top:5px;
	float: right;
	margin-right: -170px;
	padding: 5px;
}
.searchform2{
	margin-left:20px;
	padding: 6px;
	border: 10px;
}
button{
	float:right;
	background: #95A60A;
	color:white;
	border:10px;
	padding:5px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	margin-left:10px;
	font-family: sans-serif;
	font-size: 16px;
}
h1 a{
	color:white;
	text-decoration: none;
}
.post1box{
    width: 600px;
    height: 700px;
    background: rgba(13,13,13,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-150%,-46%);
    box-sizing: border-box;
    padding: 30px 30px;
}
.post2box{
	width: 600px;
    height: 1450px;
    background: rgba(13,13,13,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(30%,-22%);
    box-sizing: border-box;
    padding: 20px 30px;

}
.post2box h2{
	margin:-15px;
	font-size:25pt;

}

.post2box h3{
	text-decoration:underline;
	padding-bottom:5px;
	transform:translate(0%,100%);
}

.post1box h2{
	margin:-20px;
	padding-bottom:20px;
}

.post3box{
	width: 600px;
    height: 700px;
    background: rgba(13,13,13,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-150%,60%);
    box-sizing: border-box;
    padding: 30px 30px;

}
.post3box h2{
	margin:-20px;
	padding-bottom:20px;
}
.Kryesore img{
	width:550px;
	height:300px;
	transform:translate(0%,4%);

}
.post2box img {
	transform:translate(0%,10%);
}
.post4box{
    width: 600px;
    height: 700px;
    background: rgba(13,13,13,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-150%,165%);
    box-sizing: border-box;
    padding: 30px 30px;
}
.post5box{
    width: 600px;
    height: 700px;
    background: rgba(13,13,13,0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(30%,165%);
    box-sizing: border-box;
    padding: 30px 30px;
}