@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400');
body{
	margin: 0;
	width:100%;
	background-image:url(formula2.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-attachment:fixed;


}
h1 a{
	color:white;
	text-decoration: none;
}
header
{
	background-color:#ED4141;
	color: white;
	padding: 8px 0px 6px 40px;
	height: auto;
	width:100%;
	top:0;
	right:0px;
	left: 0px;
	position:fixed;
	

}