@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400');
body{
	margin: 0;
	width:100%;
	background-image:url(formula2.jpg);
	background-repeat:no-repeat;
	background-position:right;
	background-attachment:fixed;


}
h1 a{
	color:white;
	text-decoration: none;
}