@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
width: 100%;
background-image: url(rrethneshback-Copy.jpg);
background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.teambackground{
	width: 100%;
	

	
}
h1
{
	font-family: 'Roboto', sans-serif; 
}
.misioniyn {
	width: 400px;
	height: 50px;
	text-align: center;
	font-family: Comic Sans MS;
	background-color: rgba(112, 155, 149, 0.45);
	margin-left: 37.1%;

}
.rrethnesh {
	width: 100%;
	height: auto;

	display: inline-flex;
	
}

.rrethnesh1 {

	font-family: tahoma; 
	text-align: center;
	width: 450px;
	height: 500px;
	background-color: rgba(152, 175, 179, 0.86);
	margin: 30px 0px 0px 320px;
}
.rrethnesh2 {
	font-family: tahoma; 
	text-align: center;
	width: 450px;
	height: 500px;
	background-color: rgba(152, 175, 179, 0.86);
	margin: 30px 0px 0px 20px;
}
.kreatoret{
	width: 400px;
	height: 50px;
	text-align: center;
	font-family: Comic Sans MS;
	background-color: rgba(1, 155, 14, 0.57);
	margin-left: 37.1%;
	margin-top: 50px;
}	
.kreatoret1{
	font-family: serif; 
	text-align: center;
	width: 500px;
	height: 100px;
	background-color: rgba(1, 155, 14,0.67);
	margin: 30px 0px 0px 33.5%;
	padding-top: 35px;
}
.KREATOR {
	margin-top: 20px;
	display: inline-flex;
	width: 100%;
	height: auto;
	
}

.KR1 {

	width: 33.33%;
	height: auto;
	display: inline-flex;
	margin-left: 440px;
	;

}
.KR2 {
	width: 33.33%;
	height: auto;
	margin-left: 180px;
	
}
.KR3{
	width: 33.33%;
	height: auto;
	margin-left: 180px;
}
.main {
  margin: 100px auto;
  text-align: center;
}
button {
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid aqua;
  color: aqua;
}
.forma
{
	background-color: rgba(0,0,0,0.3)
}