@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400');
body{
	margin: 0;

}
header
{
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 90px;
}
header h1{
	display:inline;
	font-family:'Hind Guntur',sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}
nav ul{
	display: inline;
	padding: 0px;
	float: left;
}