body{
	font-family:tahoma;
	font-size:15px;
	line-height:1.75;
	padding:0;
	margin:0;

}
header
{
	background: black;
	color: white;
	padding-left:1%;
	height: auto;
	width:99%;
	top:0;
	right:0px;
	left: 0px;
	position:absolute;
	z-index:1000;
}
header h1{
	display:inline;
	font-family:'Hind Guntur',sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 40px;

}
nav ul{
	display: block;
	padding: 0px;
	float: right;
	margin-top:60px;
	margin-right: -285px;
	font-size: 15pt;
}
nav ul li{
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 160px;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}
#nav {
	font-size: 19px;
}


.klasa1:hover{
	color: #95A60A;
	text-decoration: underline;
}
.search-form{
	margin-top:5px;
	float: right;
	margin-right: 50px;
	padding: 5px;
}
.searchform2{
	margin-left:20px;
	padding: 6px;
	border: 10px;
}